services:
  postgres:
    image: postgres:18.1
    container_name: kc-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - 5432:5432
    volumes:
      - kc_db_data:/var/lib/postgresql

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.0
    container_name: keycloak
    command:
      - start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME: localhost
    ports:
      - 8080:8080
    volumes:
      - kc_data:/opt/keycloak/data
    restart: unless-stopped

volumes:
  kc_db_data:
  kc_data:
